.con_a .banner {
  background: url(../../img/news/20191120183223_9318.jpg) no-repeat center / 122%;
  text-align: center;
  padding: 10% 0;
}
.con_a .banner p:nth-child(1) {
  font-size: 30px;
  margin-bottom: 20px;
  color: rgba(225, 225, 225, 0.4);
  font-weight: 900;
}
.con_a .banner p:nth-child(2) {
  letter-spacing: 4px;
  font-weight: 900;
  color: #fff;
  font-size: 24px;
}
.top-btn {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e7e7e7;
  width: 100%;
}
.top-btn ul {
  width: 90%;
  display: flex;
  margin: 0 auto;
  max-width: 1400px;
}
.top-btn ul .active {
  background: #0752ab;
}
.top-btn ul .active a {
  color: #fff !important;
}
.top-btn ul li {
  flex: 1;
  border-right: 1px solid #e7e7e7;
  text-align: center;
  font-size: 16px;
  line-height: 60px;
}
.top-btn ul li a {
  position: relative;
  z-index: 10;
  color: #444444;
  display: block;
  transition: .5s;
}
.top-btn ul li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: .5s;
  background: #0752ab;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.top-btn ul li a:hover:after {
  height: 60px;
}
.top-btn ul li a:hover {
  color: #fff;
}
.news_top {
  width: 100%;
  background-color: #fff;
  padding: 6.25% 0 5.2083%;
}
.news_top .wrap {
  width: 90%;
  margin: 0 auto;
}
.news_top .wrap .centent {
  display: flex;
}
.news_top .wrap .centent:hover img {
  transform: scale(1.1);
}
.news_top .wrap .centent:hover h2 a {
  color: #09308f !important;
}
.news_top .wrap .centent .left {
  overflow: hidden;
  width: 50%;
}
.news_top .wrap .centent .left img {
  width: 100%;
  height: 100%;
  display: block;
  transition: 1s;
}
.news_top .wrap .centent .right {
  width: calc(39%);
  background-color: #f5f5f5;
  padding: 5.5% 8% 0 5.5%;
}
.news_top .wrap .centent .right h2 {
  margin-bottom: 25px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news_top .wrap .centent .right h2 a {
  font-size: 18px;
  color: #333333;
}
.news_top .wrap .centent .right p:nth-child(1) {
  padding-left: 28px;
  color: #999999;
  background: url(../../img/news/clock.png) no-repeat left center;
  margin-bottom: 16px;
}
.news_top .wrap .centent .right p:last-of-type {
  color: #666666;
  line-height: 24px;
  text-align: justify;
  margin-bottom: 15.2%;
  height: 72px;
  font-size: 14px;
  position: relative;
  left: 8px;
}
.left-btn {
  display: block;
  width: calc(157px);
  height: 50px;
  padding-left: 64px;
  border-radius: 25px;
  background-image: linear-gradient(90deg, #09308f 0%, #0097e2 100%), linear-gradient(#c5ac84, #c5ac84);
  margin: 0 auto;
}
.left-btn font {
  color: #fff;
  line-height: 50px;
}
.left-btn img {
  position: relative;
  left: 20%;
}
.left-btn:hover {
  background-image: linear-gradient(90deg, #0097e2 0, #09308f 100%), linear-gradient(#c5ac84, #c5ac84);
}
.news_bottom {
  width: 100%;
  background-color: #f5f5f5;
  padding: 5.2083% 0;
}
.news_bottom .wrap {
  width: 90%;
  margin: 0 auto;
}
.news_bottom .wrap .paging {
  display: flex;
  justify-content: center;
  padding: 80px;
}
.news_bottom .wrap .paging .active {
  color: #fff;
  background: #0752ab;
}
.news_bottom .wrap .paging a {
  font-size: 12px;
  display: block;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  transition: .5s;
  text-align: center;
  line-height: 40px;
  color: #333;
}
.news_bottom .wrap .paging a:hover {
  color: #fff;
  background: #0752ab;
}
.news_bottom .wrap .paging a:nth-child(1),
.news_bottom .wrap .paging a:last-of-type {
  width: calc(36px);
  padding: 0 13px;
}
.news_bottom .wrap .centent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.news_bottom .wrap .centent .box {
  width: 31.4286%;
  margin-bottom: 40px;
  position: relative;
  top: 0;
  transition: .5s;
}
.news_bottom .wrap .centent .box:hover h3 {
  color: #09308f !important;
}
.news_bottom .wrap .centent .box:hover {
  top: -10px;
  transition: .5s;
}
.news_bottom .wrap .centent .box:hover img {
  transform: scale(1.1);
}
.news_bottom .wrap .centent .box .top {
  overflow: hidden;
}
.news_bottom .wrap .centent .box .top img {
  display: block;
  width: 100%;
  transition: .5s;
}
.news_bottom .wrap .centent .box .bottom {
  background-color: #fff;
  padding: 7% 8% 13% 8%;
}
.news_bottom .wrap .centent .box .bottom p:nth-child(1) {
	
  padding-left: 28px;
  color: #999999;
  background: url(../../img/news/clock.png) no-repeat left center;
  margin-bottom: 18px;
}
.news_bottom .wrap .centent .box .bottom p:last-of-type {
  color: #666666;
  line-height: 24px;
  font-size: 14px;
}
.news_bottom .wrap .centent .box .bottom h3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 18px;
  color: #333333;
  line-height: 28px;
  margin-bottom: 18px;
  text-align: justify;
  height: 56px;
  font-weight: 500;
  transition: .5s;
}
.none {
  display: none;
}
@media (max-width: 1000px) {
  .news_top .wrap .centent .right p:last-of-type {
    line-height: 18px;
    margin-bottom: 5.2%;
  }
  .news_top .wrap .centent .right h2 {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .news_top .wrap .centent {
    flex-direction: column;
  }
  .news_top .wrap .centent .left {
    width: 100%;
  }
  .news_top .wrap .centent .right {
    width: calc(86.5%);
  }
  .news_bottom .wrap .centent {
    flex-direction: column;
  }
  .news_bottom .wrap .centent .box {
    width: 100%;
  }
  .news_bottom .wrap .paging {
    display: none;
  }
  .none {
    display: block;
  }
}
