* {
	margin: 0;
	padding: 0;
	/* 内外边距清空 */
	font-size: 16;
	/* 字体大小 */
	color: #000;
	/* 字体颜色 */
	font-family: "microsoft yahei";
	/* 字体样式 微软雅黑 */
}

.none {
	display: none;
	/* 表示消失 */
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
header,
footer,
section,
aside,
nav,
table,
ul,
li,
ol,
td,
tr,
dt,
dd,
header,
footer,
section,
article,
figure,
main,
figcaption,
aside,
dialog,
nav,
hgroup {
	display: block;
	/* 转为块元素 */

}

ul li {
	list-style: none;
	/* 表示列表前默认样式消失 */
}

a {
	text-decoration: none;
	/* 去掉下划线 */
	outline: none;
	/* 去掉外轮廓 */
}

img {
	outline: none;
	/* 去掉外轮廓 */
}

.clear {
	clear: both;
	/* 清除浮动 */
}

.clearfix:after {
	content: '.';
	/* 创建内容为空 */
	display: block;
	/* 转为块元素 */
	height: 0;
	line-height: 0;
	overflow: hidden;
	/* 溢出隐藏 */
	visibility: hidden;
	/* 隐藏 */
	clear: both;
	/* 清除浮动 */
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.ellipsis {
	white-space: nowrap;
	/* 空白不换行 */
	overflow: hidden;
	/* 溢出隐藏 */
	text-overflow: ellipsis;
	/* 超出去的文本以省略号的形式显示 */
}

/* 右箭头 */
.right-arrow {	
	position: relative;
}

.right-arrow::after {	
	content: "";
	height: 10px;
	width: 10px;
	border-width: 3px 3px 0 0;
	border-color: red;
	border-style: solid;
	transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
	position: absolute;
}

/* 左箭头 */
.left-arrow {	
	position: relative;	
}

.left-arrow::after {	
	content: "";
	height: 10px;
	width: 10px;
	border-width: 3px 3px 0 0;
	border-color: red;
	border-style: solid;
	transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
	position: absolute;
