body{
	overflow-x: hidden;
}
.bottom-warp {
  background-color: #313131;
  width: 100%;
}
.bottom-warp .body-bottom {
  margin: auto;
  padding: 70px 0 40px 0;
  width: 90%;
  display: flex;
  border-bottom: 1px solid #444;
}
.bottom-warp .body-bottom .left {
  border-right: 1px solid #444;
  padding-right: 8%;
}
.bottom-warp .body-bottom .left .top {
  margin-bottom: 27px;
}
.bottom-warp .body-bottom .left .center {
  margin-bottom: 24px;
}
.bottom-warp .body-bottom .left .center .num {
  font-size: 24px;
  color: #fff;
  margin-bottom: 7px;
  font-weight: 900;
}
.bottom-warp .body-bottom .left .center p:nth-child(2) {
  color: #999;
  font-size: 14px;
}
.bottom-warp .body-bottom .left .center p:nth-child(3) {
  color: #999;
  font-size: 14px;
  margin-top: 5px;
}
.bottom-warp .body-bottom .left .bottom {
  width: 112px;
}
.bottom-warp .body-bottom .left .bottom img {
  display: block;
  margin: 0 auto;
}
.bottom-warp .body-bottom .left .bottom p {
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
  color: #ccc;
}
.bottom-warp .body-bottom .right {
  padding-left: 7.5%;
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.bottom-warp .body-bottom .right li h5 {
  margin-bottom: 17px;
}
.bottom-warp .body-bottom .right li h5 a {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}
.bottom-warp .body-bottom .right li a {
  display: block;
  transition: .5s;
  font-size: 14px;
  color: #999;
  line-height: 28px;
}
.bottom-warp .body-bottom .right li a:hover {
  color: #fff;
}
.bottom-warp footer {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0 24px 0;
  display: flex;
  justify-content: space-between;
}
.bottom-warp footer p {
  color: #888;
  font-size: 14px;
}
.bottom-warp footer p a {
  position: relative;
  right: 4px;
  top: -1px;
}
.bottom-warp footer a {
  color: #888;
  font-size: 14px;
  transition: .5s;
}
.bottom-warp footer a:hover {
  color: #fff;
}
@media (max-width: 1020px) {
  .bottom-warp .right {
    display: none !important;
  }
  .bottom-warp .body-bottom .left {
    border: none;
  }
}
@media (max-width: 768px) {
  footer {
    flex-direction: column;
  }
  .bottom-warp .body-bottom .left {
    padding: 0;
  }
  .bottom-warp footer p {
    line-height: 24px;
    margin-bottom: 7px;
  }
}
