/* 转圈圈动画 */
@-webkit-keyframes revolve {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ind_text_top p {
  color: #c2d1e0 !important;
}
.About_1 {
  width: 100%;
  padding: 6.25% 0 6.3%;
  background: url(../../img/About/about_03.jpg) no-repeat center top / cover;
}
.About_1 .wrap {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.About_1 .wrap .left {
  width: 43.75%;
}
.About_1 .wrap .left p {
  color: rgba(255, 255, 255, 0.08);
  font-size: 80px;
  z-index: 10;
  letter-spacing: 8px;
  position: relative;
  z-index: 1;
}
.About_1 .wrap .left .img {
  position: relative;
  margin-top: -10%;
}
.About_1 .wrap .left .img img {
  width: 100%;
  transform: scale(0.7);
  position: relative;
  z-index: 1;
}
.About_1 .wrap .left .img::after {
  content: "";
  display: block;
  width: 100%;
  height: 400px;
  position: absolute;
  background-color: #115180;
  opacity: 0.7;
  left: -160px;
  top: -15px;
  z-index: 0;
}
.About_1 .wrap .right {
  width: 50%;
}
.About_1 .wrap .right .right_title {
  margin-bottom: 30px;
}
.About_1 .wrap .right .right_title h2 {
  font-size: 36px;
  line-height: 60px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
}
.About_1 .wrap .right .right_title h2 b {
  margin-right: 20px;
  font-size: 46px;
  color: #fff;
}
.About_1 .wrap .right .right_title .line {
  background-color: rgba(255, 255, 255, 0.4);
  width: 60px;
  height: 4px;
}
.About_1 .wrap .right .text {
  height: 320px;
  overflow: auto;
  color: #e4e7eb;
  line-height: 28px;
  font-size: 14px;
}
.About_2 {
  padding: 6.25% 0 7.8125%;
  background: url(../../img/About/about_04.jpg) no-repeat center top;
  overflow: hidden;
}
.About_2 .ind_text_top {
  margin-bottom: 7.0208% !important;
}
.About_2 .swiper_wrap {
  width: 100%;
  position: relative;
  z-index: 0;
}
.About_2 .swiper_wrap .swiper_top {
  position: relative;
}
.About_2 .swiper_wrap .swiper_top::after {
  content: "";
  display: block;
  width: 2000px;
  height: 1px;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  left: -100px;
  top: 50%;
  transform: translateY(-50%);
}
.About_2 .swiper_wrap .swiper_top #swiper-container1 {
  margin-bottom: 4.2083% !important;
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
  padding: 30px 0 30px 0;
  position: relative;
  z-index: 100;
}
.About_2 .swiper_wrap .swiper_top #swiper-container1 .swiper-wrapper .swiper-slide {
  position: relative;
  cursor: pointer;
}
.About_2 .swiper_wrap .swiper_top #swiper-container1 .swiper-wrapper .swiper-slide:hover .num {
  background-color: #bc0715;
}
.About_2 .swiper_wrap .swiper_top #swiper-container1 .swiper-wrapper .swiper-slide::after {
  content: "";
  display: block;
  position: static;
  padding-top: 100%;
}
.About_2 .swiper_wrap .swiper_top #swiper-container1 .swiper-wrapper .swiper-slide .num {
  position: absolute;
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #0062a7;
  border-radius: 50%;
  text-align: center;
  transition: .8s;
}
.About_2 .swiper_wrap .swiper_top #swiper-container1 .swiper-wrapper .swiper-slide .num p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 900;
  font-family: "Digital-7";
  transition: .5s;
}
.About_2 .swiper_wrap .swiper_top #swiper-container1 .swiper-wrapper .swiper-slide .img {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scale(0.2);
  transition: 1s;
}
.About_2 .swiper_wrap .swiper_top #swiper-container1 .swiper-wrapper .swiper-slide-active .num {
  width: 100%;
  height: 100%;
  background-color: #bc0715;
}
.About_2 .swiper_wrap .swiper_top #swiper-container1 .swiper-wrapper .swiper-slide-active .num p {
  font-size: 36px;
}
.About_2 .swiper_wrap .swiper_top #swiper-container1 .swiper-wrapper .swiper-slide-active .img {
  transform: scale(1.3);
}
.About_2 .swiper_wrap .swiper_top #swiper-container1 .swiper-wrapper .swiper-slide-active .img::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../img/About/about_05.png) no-repeat center / cover;
  animation: 5s revolve linear infinite;
}
.About_2 .swiper_wrap .swiper-container-h {
  width: 90%;
}
.About_2 .swiper_wrap .swiper-container-h .swiper-wrapper .swiper-slide {
  height: 100px;
  text-align: center;
}
.About_2 .swiper_wrap .swiper-container-h .swiper-wrapper .swiper-slide .text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  margin: 0 auto;
  padding-bottom: 30px;
  line-height: 36px;
  font-size: 16px;
  color: #fff;
}
.About_2 .swiper_wrap .swiper-container-h .swiper-wrapper .swiper-button-next,
.About_2 .swiper_wrap .swiper-container-h .swiper-wrapper .swiper-button-prev {
  top: 22px;
  height: 98%;
  border: solid 1px rgba(255, 255, 255, 0.4);
  padding: 0 14px;
  transition: .5s;
  border-radius: 4px;
}
.About_2 .swiper_wrap .swiper-container-h .swiper-wrapper .swiper-button-next::after,
.About_2 .swiper_wrap .swiper-container-h .swiper-wrapper .swiper-button-prev::after {
  color: #FFFFFF;
}
.About_2 .swiper_wrap .swiper-container-h .swiper-wrapper .swiper-button-next:hover,
.About_2 .swiper_wrap .swiper-container-h .swiper-wrapper .swiper-button-prev:hover {
  border-color: #0062a7;
  background: #0062a7;
}
.About_3 {
  width: 100%;
  overflow: hidden;
}
.About_3 .wrap {
  display: flex;
}
.About_3 .wrap .left {
  width: calc(44.7916% - 8.33%);
  padding: 6.25% 0 0 8.33%;
  background: url(../../img/About/about_09.jpg) no-repeat center top / cover;
}
.About_3 .wrap .left .ind_text_top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.About_3 .wrap .left .ind_text_top p {
  width: 100%;
}
.About_3 .wrap .left h3 {
  margin: 55px 0;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}
.About_3 .wrap .left .About_3_btn {
  display: flex;
  flex-wrap: wrap;
  padding-right: 12%;
  margin-bottom: 15px;
}
.About_3 .wrap .left .About_3_btn .btn {
  cursor: pointer;
  width: calc(30% - 8px);
  margin: 0 5% 5% 0;
  height: 120px;
  border-radius: 8px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  text-align: center;
  transition: .4s;
}
.About_3 .wrap .left .About_3_btn .btn p {
  color: #fff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.About_3 .wrap .left .About_3_btn .btn:nth-child(3) {
  margin-right: 0;
}
.About_3 .wrap .left .About_3_btn .tab_nav_active {
  background-color: #0062a7;
  border: solid 1px #0070bf;
}
.About_3 .wrap .right {
  width: 55.2084%;
  background: url(../../img/About/about_10.jpg) no-repeat center top / cover;
}
.About_3 .wrap .right .container {
  display: none;
  position: relative;
  height: 100%;
}
.About_3 .wrap .right .container h4 {
  line-height: 24px;
  font-size: 20px;
  color: #fff;
  margin-bottom: 23px;
  font-weight: 900;
  position: relative;
}
.About_3 .wrap .right .container h4::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #fff;
  opacity: 0.3;
  position: absolute;
  z-index: 10;
  bottom: -13px;
}
.About_3 .wrap .right .container .content1 {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 50%;
  height: 50%;
  background: rgba(0, 93, 159, 0.9);
}
.About_3 .wrap .right .container .content1 .box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.About_3 .wrap .right .container .content1 .box .yuan {
  width: 180px;
  height: 180px;
  border: 5px solid #fff;
  border-radius: 50%;
  position: relative;
  margin: 0 auto 60px auto;
}
.About_3 .wrap .right .container .content1 .box .yuan p {
  text-align: center;
  line-height: 180px;
  font-size: 51px;
  font-weight: 900;
  color: #fff;
  font-family: "Digital-7";
}
.About_3 .wrap .right .container .content1 .box .text {
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.About_3 .wrap .right .container .content2 {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 66.66%;
}
.About_3 .wrap .right .container .content2 .top,
.About_3 .wrap .right .container .content2 .bottom {
  display: flex;
  width: 100%;
  height: 50%;
}
.About_3 .wrap .right .container .content2 .top ul,
.About_3 .wrap .right .container .content2 .bottom ul {
  width: calc(25% - 40px);
  padding: 20px;
}
.About_3 .wrap .right .container .content2 .top ul li,
.About_3 .wrap .right .container .content2 .bottom ul li {
  line-height: 24px;
  color: #FFFFFF;
  font-size: 14px;
}
.About_3 .wrap .right .container .content2 .top ul:nth-child(1) {
  background: #0062a7;
}
.About_3 .wrap .right .container .content2 .top ul:nth-child(2) {
  background: #0069b4;
}
.About_3 .wrap .right .container .content2 .top ul:nth-child(3) {
  background: #0077cc;
}
.About_3 .wrap .right .container .content2 .bottom {
  justify-content: right;
}
.About_3 .wrap .right .container .content2 .bottom ul:nth-child(1) {
  background: #007ed9;
}
.About_3 .wrap .right .container .content2 .bottom ul:nth-child(2) {
  background: #0069b4;
}
.About_3 .wrap .right .container .content2 .bottom ul:nth-child(3) {
  background: #0062a7;
}
.About_3 .wrap .right .container .content3 {
  position: absolute;
  height: 66.666%;
  top: 33.333%;
  width: 100%;
}
.About_3 .wrap .right .container .content3 .top,
.About_3 .wrap .right .container .content3 .bottom {
  display: flex;
  height: 50%;
  width: 100%;
}
.About_3 .wrap .right .container .content3 .top .box,
.About_3 .wrap .right .container .content3 .bottom .box {
  height: 100%;
  width: 25%;
  text-align: center;
  background: url(../../img/About/xjbg.png) no-repeat center / cover;
}
.About_3 .wrap .right .container .content3 .top .box p,
.About_3 .wrap .right .container .content3 .bottom .box p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  line-height: 36px;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
}
.About_3 .wrap .right .container .content3 .top .box:nth-child(1) {
  background-color: rgba(0, 98, 167, 0.96);
}
.About_3 .wrap .right .container .content3 .top .box:nth-child(2) {
  background-color: rgba(0, 106, 181, 0.96);
}
.About_3 .wrap .right .container .content3 .bottom {
  justify-content: right;
}
.About_3 .wrap .right .container .content3 .bottom .box:nth-child(1) {
  background-color: rgba(0, 119, 204, 0.96);
}
.About_3 .wrap .right .container .content3 .bottom .box:nth-child(2) {
  background-color: #017bd5;
}
.About_3 .wrap .right .container .content4 {
  width: 100%;
  position: absolute;
  left: 0;
  top: 33.3333%;
  height: 66.6666%;
}
.About_3 .wrap .right .container .content4 .top,
.About_3 .wrap .right .container .content4 .bottom {
  display: flex;
  height: 50%;
}
.About_3 .wrap .right .container .content4 .top .box,
.About_3 .wrap .right .container .content4 .bottom .box {
  width: calc(33.333% - 40px);
  padding: 20px;
  height: calc(100% - 40px);
}
.About_3 .wrap .right .container .content4 .top .box p,
.About_3 .wrap .right .container .content4 .bottom .box p {
  color: #fff;
  font-size: 16px;
  line-height: 30px;
}
.About_3 .wrap .right .container .content4 .top .box:nth-child(1) {
  background: rgba(0, 92, 158, 0.7);
}
.About_3 .wrap .right .container .content4 .top .box:nth-child(2) {
  background: rgba(0, 126, 217, 0.94);
}
.About_3 .wrap .right .container .content4 .bottom .box:nth-child(1) {
  background: rgba(0, 119, 204, 0.8);
}
.About_3 .wrap .right .container .content4 .bottom .box:nth-child(2) {
  background: rgba(0, 105, 180, 0.94);
}
.About_3 .wrap .right .container .content4 .bottom .box:nth-child(3) {
  background: rgba(0, 126, 217, 0.85);
}
.About_3 .wrap .right .tab_box_active {
  display: block;
}
.About_4 {
  width: 100%;
  background: url(../../img/About/about_06.jpg) no-repeat center top / cover;
  padding: 6.25% 0 8.375%;
}
.About_4 .wrap {
  width: 90%;
  margin: 0 auto;
}
.About_4 .wrap .content {
  position: relative;
}
.About_4 .wrap .content .swiper-button-next,
.About_4 .wrap .content .swiper-button-prev {
  top: calc(50% - 18px);
  transform: translateY(-50%);
  height: 100px;
  border: solid 1px rgba(255, 255, 255, 0.4);
  padding: 0 14px;
  transition: .5s;
  border-radius: 4px;
}
.About_4 .wrap .content .swiper-button-next::after,
.About_4 .wrap .content .swiper-button-prev::after {
  color: #FFFFFF;
}
.About_4 .wrap .content .swiper-button-next:hover,
.About_4 .wrap .content .swiper-button-prev:hover {
  border-color: #0062a7;
  background: #0062a7;
}
.About_4 .wrap .content .swiper-button-next {
  right: -30px;
}
.About_4 .wrap .content .swiper-button-prev {
  left: -30px;
}
.About_4 .wrap .content .swiper-container2 {
  padding-bottom: 80px;
}
.About_4 .wrap .content .swiper-container2 .swiper-wrapper .swiper-slide img {
  width: 100%;
}
.About_4 .wrap .content .swiper-container2 .swiper-pagination-progressbar-fill {
  background-color: #fff;
}
.About_4 .wrap .content .swiper-container2 .swiper-pagination {
  background-color: rgba(255, 255, 255, 0.2);
  top: auto;
  bottom: 0;
}
.About_5 {
  width: 100%;
  background: url(../../img/About/about_07.jpg) no-repeat center top / cover;
  padding: 6.25% 0 11.875%;
}
.About_5 .wrap {
  width: 90%;
  margin: 0 auto;
}
.About_5 .wrap .swiper-containe3 {
  padding-bottom: 85px;
}
.About_5 .wrap .swiper-containe3 .swiper-wrapper {
  flex-direction: row ;
}
.About_5 .wrap .swiper-containe3 .swiper-wrapper .swiper-slide {
  margin-top: 0 !important;
}
.About_5 .wrap .swiper-containe3 .swiper-wrapper .swiper-slide:nth-child(n+14) {
  margin-top: 69px !important;
}
.About_5 .wrap .swiper-containe3 .swiper-wrapper .swiper-slide .box {
  background: rgba(255, 255, 255, 0.6);
  border: solid 1px #d8e6ef;
  border-radius: 3px;
}
.About_5 .wrap .swiper-containe3 .swiper-wrapper .swiper-slide .box img {
  width: 100%;
}
.About_5 .wrap .swiper-containe3 .swiper-pagination {
  top: auto;
  bottom: 0;
}
.About_5 .wrap .swiper-containe3 .swiper-pagination .swiper-pagination-bullet {
  background-color: #FFFFFF;
  transform: scale(1);
  transition: .5s;
}
.About_5 .wrap .swiper-containe3 .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #FFFFFF;
  transform: scale(1.4);
}
.About_6 {
  width: 100%;
  background: url(../../img/About/about_08.jpg) no-repeat center top / cover;
  padding: 6.25% 0 75px;
  overflow: hidden;
}
.About_6 .wrap {
  width: 90%;
  margin: 0 auto;
  height: 600px;
}
.About_6 .wrap .content {
  display: flex;
  height: 100%;
}
.About_6 .wrap .content .list {
  width: 12.5%;
  position: relative;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  transition: .5s;
}
.About_6 .wrap .content .list .text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #fff;
  transition: .4s;
}
.About_6 .wrap .content .list .box {
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  transition: .6s;
  width: 100%;
}
.About_6 .wrap .content .list .box .top {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background-color: rgba(248, 248, 248, 0.06);
  border: solid 1px rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  margin-bottom: 50px;
}
.About_6 .wrap .content .list .box .top .icon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.About_6 .wrap .content .list .box .top .icon img {
  margin: 0 auto 18px auto;
}
.About_6 .wrap .content .list .box .top .icon .Cn {
  font-size: 20px;
  color: #fff;
  margin-bottom: 8px;
}
.About_6 .wrap .content .list .box .top .icon .En {
  color: rgba(225, 225, 225, 0.8);
  font-size: 14px;
}
.About_6 .wrap .content .list .box .bottom {
  color: #fff;
  font-size: 14px;
  line-height: 28px;
}
.About_6 .wrap .content .list_active {
  width: 50%;
}
.About_6 .wrap .content .list_active .text {
  opacity: 0;
  top: 10%;
}
.About_6 .wrap .content .list_active .box {
  opacity: 1;
  top: 50%;
}
@media (min-width: 1440px) {
  .About_1 .wrap .left p {
    font-size: 80px;
  }
  .About_1 .wrap .right .right_title h2 {
    font-size: 42px;
  }
  .About_1 .wrap .right .right_title h2 b {
    font-size: 52px;
  }
  .swiper-slide .swiper-container .text {
    font-size: 20px !important;
  }
  .About_3 .wrap .left h3 {
    font-size: 30px;
  }
  .About_3 .wrap .left .About_3_btn .btn p {
    font-size: 18px;
  }
  .About_3 .wrap .right .container .content1 .box .yuan p {
    font-size: 60px;
  }
  .About_3 .wrap .right .container .content1 .box .text {
    font-size: 24px;
  }
  .About_3 .wrap .right .container .content3 .top .box p,
  .About_3 .wrap .right .container .content3 .bottom .box p {
    font-size: 24px;
  }
}
@media (max-width: 1280px) {
  .About_1 .wrap .left p {
    font-size: 60px;
  }
  .About_1 .wrap .left .img::after {
    height: 200px;
  }
  .About_1 .wrap .right .right_title h2 {
    font-size: 30px;
    line-height: 48px;
  }
  .About_1 .wrap .right .right_title h2 b {
    font-size: 34px;
  }
  .About_3 .wrap {
    height: 100vh;
  }
  .About_3 .wrap .left .About_3_btn .btn {
    height: 80px;
  }
  .About_3 .wrap .left .About_3_btn .btn p {
    font-size: 14px;
  }
  .About_3 .wrap .right .container .content1 .box .yuan {
    margin: 0 auto 60px;
  }
  .About_3 .wrap .right .container .content4 .top .box,
  .About_3 .wrap .right .container .content4 .bottom .box {
    width: calc(33.333% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
  }
  .About_3 .wrap .right .container .content4 .top .box h4,
  .About_3 .wrap .right .container .content4 .bottom .box h4 {
    font-size: 18px;
    line-height: 24px;
  }
  .About_3 .wrap .right .container .content4 .top .box p,
  .About_3 .wrap .right .container .content4 .bottom .box p {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 1024px) {
  .About_2 .swiper_wrap .swiper-container-h {
    width: 90%;
  }
  .About_2 .swiper_wrap .swiper-container-h .swiper-wrapper .swiper-slide .text {
    font-size: 14px;
    width: 80%;
  }
  .About_2 .swiper_wrap .swiper-container-h .swiper-wrapper .swiper-button-next,
  .About_2 .swiper_wrap .swiper-container-h .swiper-wrapper .swiper-button-prev {
    display: none;
  }
  .About_3 .wrap .right .container .content2 .top ul,
  .About_3 .wrap .right .container .content2 .bottom ul {
    width: calc(25% - 20px);
    padding: 10px;
  }
  .About_3 .wrap .right .container .content2 .top ul h4,
  .About_3 .wrap .right .container .content2 .bottom ul h4 {
    font-size: 16px;
  }
  .About_4 .wrap .content .swiper-button-next,
  .About_4 .wrap .content .swiper-button-prev {
    display: none;
  }
  .About_4 .wrap .content .swiper-button-next,
  .About_4 .wrap .content .swiper-button-prev {
    display: none;
  }
  .About_6 .wrap .content .list .text {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .About_1 {
    padding: 60px 0;
  }
  .About_1 .wrap {
    flex-direction: column;
  }
  .About_1 .wrap .left {
    overflow: hidden;
    width: 100%;
  }
  .About_1 .wrap .left p {
    display: none;
  }
  .About_1 .wrap .left .img {
    margin: 0;
  }
  .About_1 .wrap .left .img img {
    margin-top: -16%;
  }
  .About_1 .wrap .left .img::after {
    content: none;
  }
  .About_1 .wrap .right {
    width: 100%;
  }
  .About_1 .wrap .right .right_title {
    margin-bottom: 14px;
  }
  .About_1 .wrap .right .right_title h2 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 14px;
  }
  .About_1 .wrap .right .right_title h2 b {
    font-size: 22px;
  }
  .About_2 .swiper_wrap .swiper-container-h {
    width: 90%;
  }
  .About_2 .swiper_wrap .swiper-container-h .swiper-wrapper .swiper-slide .text {
    font-size: 14px;
    width: 100%;
    line-height: 22px;
  }
  .About_2 .swiper_wrap .swiper-container-h .swiper-wrapper .swiper-button-next,
  .About_2 .swiper_wrap .swiper-container-h .swiper-wrapper .swiper-button-prev {
    display: none;
  }
  .About_3 .wrap {
    height: auto;
    flex-direction: column;
  }
  .About_3 .wrap .left {
    width: 100%;
  }
  .About_3 .wrap .right {
    width: 100%;
  }
  .About_3 .wrap .right .container .content1 {
    position: relative;
    width: 100%;
    padding: 40px 0;
  }
  .About_3 .wrap .right .container .content1 .box {
    width: 100%;
    transform: translateY(0);
    z-index: 100;
  }
  .About_3 .wrap .right .container .content1 .box .yuan {
    width: 160px;
    height: 160px;
    margin-bottom: 20px;
    border-width: 3px;
  }
  .About_3 .wrap .right .container .content1 .box .yuan p {
    line-height: 160px;
    font-size: 30px;
  }
  .About_3 .wrap .right .container .content1 .box .text {
    font-size: 16px;
  }
  .About_3 .wrap .right .container .content2 {
    position: relative;
  }
  .About_3 .wrap .right .container .content2 .top ul,
  .About_3 .wrap .right .container .content2 .bottom ul {
    width: 33.333%;
    padding: 20px 20px 40px 20px;
  }
  .About_3 .wrap .right .container .content2 .top ul h4,
  .About_3 .wrap .right .container .content2 .bottom ul h4 {
    font-size: 18px;
    font-weight: 900;
  }
  .About_3 .wrap .right .container .content3 {
    position: relative;
  }
  .About_3 .wrap .right .container .content3 .top .box,
  .About_3 .wrap .right .container .content3 .bottom .box {
    width: 50%;
  }
  .About_3 .wrap .right .container .content3 .top .box p,
  .About_3 .wrap .right .container .content3 .bottom .box p {
    transform: translateY(0);
    font-size: 14px;
    padding: 20px 0;
  }
  .About_3 .wrap .right .container .content3 .bottom {
    position: relative;
  }
  .About_3 .wrap .right .container .content3 .bottom .box {
    height: auto;
  }
  .About_3 .wrap .right .container .content3 .bottom .box p {
    top: auto;
  }
  .About_3 .wrap .right .container .content4 {
    position: relative;
  }
  .About_3 .wrap .right .container .content4 .top .box,
  .About_3 .wrap .right .container .content4 .bottom .box {
    height: auto;
  }
  .About_3 .wrap .right .container .content4 .top .box h4,
  .About_3 .wrap .right .container .content4 .bottom .box h4 {
    font-size: 16px;
    line-height: 22px;
  }
  .About_4 .wrap .content .swiper-button-next,
  .About_4 .wrap .content .swiper-button-prev {
    display: none;
  }
  .About_4 .wrap .content .swiper-container2 {
    padding-bottom: 35px;
  }
  .About_5 .wrap .swiper-containe3 {
    padding-bottom: 55px;
  }
  .About_5 .wrap .swiper-containe3 .swiper-wrapper .swiper-slide {
    margin-top: 0 !important;
  }
  .About_5 .wrap .swiper-containe3 .swiper-wrapper .swiper-slide:nth-child(n+14) {
    margin-top: 20px !important;
  }
  .About_6 .wrap {
    height: auto;
  }
  .About_6 .wrap .content {
    flex-direction: column;
  }
  .About_6 .wrap .content .list {
    width: 100%;
    border: 0;
    margin-top: 10px;
  }
  .About_6 .wrap .content .list .text {
    display: none;
  }
  .About_6 .wrap .content .list .box {
    position: relative;
    opacity: 1;
    transform: translateX(-50%);
  }
  .About_6 .wrap .content .list .box .top {
    margin-bottom: 25px;
  }
}
